// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

// @import "~bootstrap/dist/css/bootstrap.css";
// @import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
// @import "~datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css";

@import "~ngx-toastr/toastr.css";

@media (min-width: 300px) {
    .navbar-brand {
      font-size:15px;
    }
  }
  
  @media (min-width: 576px) {
    .navbar-brand {
      font-size:25px;
    }
  }



  body{
    position: relative;
    font-weight: 300;
background: rgb(238,238,238);
background: -moz-linear-gradient(top, rgb(238,238,238) 0%, rgb(204,204,204) 100%);
background: -webkit-linear-gradient(top, rgb(238,238,238) 0%,rgb(204,204,204) 100%);
background: linear-gradient(to bottom, rgb(238,238,238) 0%,rgb(204,204,204) 100%);  
 }
  
 .sidebar .nav-link.active{
  border-left: 3px solid #20a8d8;
 }

 .nav-tabs .nav-item {
  margin-bottom: 0px;
}
.nav-tabs .nav-link.active {
  color: #030303;

  border-color: #ffffff;
  border-bottom: #0bd357 solid 2px;
}
.nav-tabs .nav-link:focus {
 
  border-color: #ffffff;
 
}
.nav-tabs .nav-link {
  color: #73818f;
}