.border-custom-lg{
    border: #000 dashed 0.05px;
    height: 125px;
    width: 125px;
}
.border-custom-md{
    border: #000 dashed 0.05px;
    margin-bottom: 5.5px;
    height: 60px;
    width: 60px;
}