<div class="modal-header">
  <h4 class="modal-title pull-left">{{isAdd?"Thêm mới hàng hóa":"Cập nhật hàng hóa"}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="decline()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <form #hanghoaForm="ngForm">
  <tabset [justified]="true">
    <tab heading="Thông tin">



        <div class="row">

          <div class="col-sm-7">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="text-input">
                <strong>Mã hàng hóa</strong>
              </label>
              <div class="col-sm-8">


                <!-- input hidden -->
                <input type="hidden" name="hanghoaID" #hanghoaID="ngModel" [(ngModel)]="service.hanghoaItemSelected.hanghoaID">
                <input type="hidden" name="loaihangID" [(ngModel)]="service.hanghoaItemSelected.loaihang.loaihangID">
                <input type="hidden" name="trangthai" #trangthai="ngModel" [(ngModel)]="service.hanghoaItemSelected.trangthai">
                <input type="hidden" name="dathang" #dathang="ngModel" [(ngModel)]="service.hanghoaItemSelected.dathang">




                <div class="input-group ">
                  <input class="form-control" placeholder="Nhập mã hàng"
                   type="text" 
                   name="mahanghoa" 
                   #mahanghoa="ngModel" 
                   [(ngModel)]="service.hanghoaItemSelected.mahanghoa">
                  <span class="input-group-append">
                    <button type="button" tooltip="Mã hàng hóa là thông tin duy nhất" triggers="mouseenter:mouseleave" class='btn btn-ghost-{{isAdd?"success":"primary"}}'
                      placement="right">
                      <i class="fa fa-info-circle"></i>

                    </button>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="text-input">
                <strong>Tên hàng</strong>
              </label>
              <div class="col-sm-8">

                <div class="input-group ">
                  <input class="form-control" placeholder="Nhập tên hàng" type="text" 
                  name="tenhang"
                   #tenhang="ngModel"
                    [(ngModel)]="service.hanghoaItemSelected.tenhang">
                  <span class="input-group-append">
                    <button type="button" 
                    tooltip="Tên hàng là tên của sản phẩm" 
                    triggers="mouseenter:mouseleave" 
                    class='btn btn-ghost-{{isAdd?"success":"primary"}}'
                      placement="right  ">
                      <i class="fa fa-info-circle"></i>

                    </button>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="text-input">
                <strong>Loại thực đơn</strong>
              </label>
              <div class="col-sm-8">

                <div class="input-group ">
                   <select  class="form-control form-control-md" required 
                  name="thucdonID"
                  [(ngModel)]="service.hanghoaItemSelected.thucDon.thucdonID" 
                  
                   >
                   <option value="-1" selected>Chọn thực đơn</option>
                      <option *ngFor="let thucdon of thucdonservice.listthucdon"
                       [value]="thucdon.thucdonID">{{thucdon.ten}}</option>
                    </select> 
                 
                  <span class="input-group-append">
                    <button type="button" tooltip="Lựa chọn loại thực đơn sản phẩm" triggers="mouseenter:mouseleave" class='btn btn-ghost-{{isAdd?"success":"primary"}}'
                      placement="right">
                      <i class="fa fa-info-circle"></i>

                    </button>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="text-input">
                <strong>Nhóm hàng</strong>
              </label>
              <div class="col-sm-8">

                <div class="input-group ">
                   <select  class="form-control form-control-md" required 
                    name="nhomhangID"
                    [(ngModel)]="service.hanghoaItemSelected.nhomHang.nhomhangID" 
                    
                     >
                     <option value="-1" selected>Chọn thực đơn</option>
                        <option *ngFor="let nhomhang of nhomhangservice.listnhomhang"
                         [value]="nhomhang.nhomhangID">{{nhomhang.ten}}</option>
                      </select> 

                  <span class="input-group-append">
                    <button type="button" tooltip="Lựa chọn nhóm hàng cho sản phẩm" triggers="mouseenter:mouseleave" class='btn btn-ghost-{{isAdd?"success":"primary"}}'
                      placement="right">
                      <i class="fa fa-info-circle"></i>

                    </button>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="text-input">
                  <strong>Giá vốn</strong>
                </label>
                <div class="col-sm-8">
  
                  <div class="input-group ">
                    <input class="form-control" placeholder="Nhập giá vốn"
                     type="number" name="giavon" #giavon="ngModel" [(ngModel)]="service.hanghoaItemSelected.giavon">
                    <span class="input-group-append">
                      <button type="button" tooltip="Giá của sản phẩm khi nhập hàng"
                       triggers="mouseenter:mouseleave" class='btn btn-ghost-{{isAdd?"success":"primary"}}'
                        placement="right">
                        <i class="fa fa-info-circle"></i>
  
                      </button>
                    </span>
                  </div>
                </div>
              </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="text-input">
                <strong>Giá bán</strong>
              </label>
              <div class="col-sm-8">

                <div class="input-group ">
                  <input class="form-control" placeholder="Nhập giá bán"
                   type="number" name="giaban" #giaban="ngModel" [(ngModel)]="service.hanghoaItemSelected.giaban">
                  <span class="input-group-append">
                    <button type="button" tooltip="Giá của sản phẩm bán ra"
                     triggers="mouseenter:mouseleave" class='btn btn-ghost-{{isAdd?"success":"primary"}}'
                      placement="right">
                      <i class="fa fa-info-circle"></i>

                    </button>
                  </span>
                </div>
              </div>
            </div>
            <div *ngIf="service.hanghoaItemSelected.loaihang.loaihangID==1" class="form-group row">
              <label class="col-sm-4 col-form-label" for="text-input">
                <strong>Tồn kho</strong>
              </label>
              <div class="col-sm-8">
                <div class="input-group ">
                  <input class="form-control" 
                  placeholder="Nhập số lượng"
                   type="number" 
                   name="tonkho"
                   #tonkho="ngModel"
                    [(ngModel)]="service.hanghoaItemSelected.tonkho">
                  <span class="input-group-append">
                    <button type="button" tooltip="Số lượng tồn kho của sản phẩm(sẽ tự động tạo ra phiếu kiểm kho cho sản phẩm)" triggers="mouseenter:mouseleave"
                      class='btn btn-ghost-{{isAdd?"success":"primary"}}' placement="right">
                      <i class="fa fa-info-circle"></i>

                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="form-group row">


              <div class="col-sm-5 mr-2">
                <div class="border-custom-lg"></div>
              </div>
              <div class="col-sm-3">
                <div class="border-custom-md"></div>
                <div class="border-custom-md"></div>
              </div>
              <div class="col-sm-3">
                <div class="border-custom-md"></div>
                <div class="border-custom-md"></div>
              </div>



            </div>
            <div class="form-group row">
              <label for="text-input">
                <strong>Chọn ảnh &nbsp;</strong>
              </label>

              <input multiple type="file">

            </div>
            <div class="form-group row">

              <div class="checkbox">
                <label>
                  <input name="hinhthucban" #hinhthucban="ngModel" [(ngModel)]="service.hanghoaItemSelected.hinhthucban" type="checkbox" checked value=""> Được bán trực tiếp
                </label>
              </div>
            </div>
            <div class="form-group row">

              <div class="checkbox">
                <label>
                  <input type="checkbox" name="lamonthem" #lamonthem="ngModel" [(ngModel)]="service.hanghoaItemSelected.lamonthem"> Là món thêm
                </label>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <accordion>
              <accordion-group heading="Theo dõi thuộc tính (Màu sắc, Kích thước...) ">
                <div [style.display]='isThuocTinh?"block":"none"'>


                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Thuộc tính</th>
                        <th>Giá trị</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let tt of listThuoctinh; let indextt = index;">
                        <td>
                          <select class="form-control">
                            <option value="-1" selected>Chọn thuộc tính</option>
                            <option value="1">Màu</option>
                            <option value="2">Kích thước</option>
                          </select>

                        </td>
                        <td>


                          <input type="text" class="form-control" placeholder="Nhập giá trị">
                          <input type="hidden" class="form-control" value="tt.tenthuoctinh" placeholder="Nhập giá trị">


                        </td>
                        <td>
                          <button type="button" (click)="removett(indextt);" class="btn btn-ghost-danger">
                            <i class="icon-close"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>


                </div>
                <button type="button" class='btn btn-pill btn-ghost-{{isAdd?"success":"primary"}}' (click)="themthuoctinh();">
                  <i class="fa fa-plus fa-md"></i> Thêm mới thuộc tính</button>

              </accordion-group>
              <accordion-group heading="Đơn vị tính">
                  <div [style.display]='isDVT?"block":"none"'>


                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Tên đơn vị</th>
                            <th>Giá trị quy đổi</th>
                            <th>Giá bán</th>
                            <th>Mã hàng hóa</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let dv of listdvt; let indexdv = index;">
                            <td>
                                <input type="text" class="form-control">
    
                            </td>
                            <td>
                              <input type="number" class="form-control" value="dv.giaquydoi" placeholder="Nhập giá trị">
                            </td>
                            <td>
                              <input type="number" class="form-control" value="dv.giaban" placeholder="Nhập giá trị">
                            </td>
                            <td>
                                <input class="form-control" placeholder="Nhập mã hàng" type="text" name="mahanghoa" #mahanghoa="ngModel" [(ngModel)]="service.hanghoaItemSelected.mahanghoa">
                              </td>
                            <td>
                              <button type="button" (click)="removedvt(indexdv);" class="btn btn-ghost-danger">
                                <i class="icon-close"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
    
    
                    </div>
                <button type="button" class='btn btn-pill btn-ghost-{{isAdd?"success":"primary"}}' (click)="themdvt();">
                  <i class="fa fa-plus fa-md"></i> Thêm mới đơn vị</button>

              </accordion-group>

            </accordion>
          </div>
        </div>

     



    </tab>
    <tab heading="Mô tả chi tiết">


      <div class="container">

        <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Định mức tồn</h4>
              </div>
              <div class="card-body">

                <div class="row">

                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="text-input">
                        <strong>Ít nhất</strong>
                      </label>
                      <div class="col-sm-8">

                        <div class="input-group ">
                          <input class="form-control" 
                          placeholder="Nhập tồn ít nhất" 
                          type="text" 
                          name="dmin" 
                          #dmin="ngModel"
                           [(ngModel)]="service.hanghoaItemSelected.dmin">
                          <span class="input-group-append">
                            <button type="button" 
                            tooltip="Tồn ít nhất là tồn tối thiểu của 1 sản phẩm" 
                            triggers="mouseenter:mouseleave" 
                            class='btn btn-ghost-{{isAdd?"success":"primary"}}'
                              placement="right">
                              <i class="fa fa-info-circle"></i>

                            </button>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="text-input">
                        <strong>Nhiều nhất</strong>
                      </label>
                      <div class="col-sm-8">

                        <div class="input-group ">
                          <input class="form-control" placeholder="Nhập tồn nhiều nhất"
                           type="text" 
                           name="dmnn" 
                           #dmnn="ngModel"
                            [(ngModel)]="service.hanghoaItemSelected.dmnn">
                          <span class="input-group-append">
                            <button type="button" 
                            tooltip="Tồn nhiều nhất là tồn tối đa của 1 sản phẩm" 
                            triggers="mouseenter:mouseleave" 
                            class='btn btn-ghost-{{isAdd?"success":"primary"}}'
                              placement="right">
                              <i class="fa fa-info-circle"></i>

                            </button>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>


              </div>
            </div>

          </div>


        </div>
        <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Mô tả</h4>
              </div>
              <div class="card-body">




                <textarea 
                id="input${1/(\w+)/\u\1/g}" 
                class="form-control" 
                rows="3"
                name="mota"
                 #mota="ngModel"
                 [(ngModel)]="service.hanghoaItemSelected.mota"
                ></textarea>





              </div>
            </div>

          </div>


        </div>
        <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Mẫu ghi chú (hóa đơn, đặt hàng)</h4>
              </div>
              <div class="card-body">




                <textarea 
                id="input${1/(\w+)/\u\1/g}" 
                class="form-control" 
                rows="3"
                name="ghichu"
                 #ghichu="ngModel"
                  [(ngModel)]="service.hanghoaItemSelected.ghichu"
                ></textarea>





              </div>
            </div>

          </div>


        </div>

      </div>


    </tab>
    <tab heading="Thành phần">

      <div class="container">

        <div class="row">

          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="text-input">
                <strong>Hàng hóa thành phần</strong>
              </label>
              <div class="col-sm-8">

                <div class="input-group ">
                  <input class="form-control" placeholder="Thêm hàng hóa thành phần" type="text">
                  <span class="input-group-append">
                    <button type="button" tooltip="Hàng hóa này được tạo thành từ nhiều nguyên liệu khác nhau" triggers="mouseenter:mouseleave"
                      class='btn btn-ghost-{{isAdd?"success":"primary"}}' placement="right">
                      <i class="fa fa-info-circle"></i>

                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>


        </div>

      </div>

    </tab>
    <tab heading='{{service.hanghoaItemSelected.lamonthem?"Hàng sử dụng món thêm":"Món thêm"}}'>

      <div class="container">

        <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="text-input">
                <strong>{{isMonThem?"Hàng sử dụng món thêm này":"Hàng hóa món thêm"}} </strong>
              </label>
              <div class="col-sm-8">

                <div class="input-group ">
                  <input class="form-control" placeholder="Tìm hàng hóa theo tên" type="text">
                  <span class="input-group-append">
                    <button type="button" tooltip="Là những mặt hàng có thể sử dụng hàng hóa này là món thêm. Ví dụ hàng sử dụng món thêm như Trà sữa, Pizza, Bún, Phở,.."
                      triggers="mouseenter:mouseleave" class='btn btn-ghost-{{isAdd?"success":"primary"}}' placement="right">
                      <i class="fa fa-info-circle"></i>

                    </button>
                  </span>
                </div>
              </div>
            </div>

            <!-- <div class="form-group row">
                <table class="table" 
                name="mothems" 
                #mothems="ngModel" 
                [(ngModel)]="service.hanghoaItemSelected.mothems"
                ngDefaultControl>
                    <thead class="thead-light">
                      <tr>
                        <th style="width:15%"><strong>Mã hàng hóa</strong></th>
                        <th><strong>Món thêm</strong></th>
                        <th style="width:15%"><strong>Giá bán</strong></th>
                        
                      </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let mt of service.hanghoaItemSelected.mothems">
                            <td>{{mt.mahanghoa}}</td>
                            <td>{{mt.tenhang}}</td>
                            <td>{{mt.giaban}}</td>
                      </tr>
                        <tr *ngIf="!service.hanghoaItemSelected.mothems.length>0">
                            <td colspan="3"  class="text-center">  Không tìm thấy kết quả nào phù hợp</td>
                          </tr>
                    </tbody>
                  </table>
            </div> -->  
          </div>
        </div>

         

      </div>
    </tab>
  </tabset>
</form>
</div>
<div class="modal-footer">
  <button type="button" class='btn btn-{{isAdd?"success":"primary"}} mr-2' (click)="decline();OnSubmit(hanghoaForm)">&nbsp;&nbsp;
    <i class="fa fa-floppy-o"></i> &nbsp;Lưu&nbsp;&nbsp;&nbsp;</button>
  <button type="button" class="btn btn-default" (click)="decline()">&nbsp;&nbsp;
    <i class="fa fa-ban"></i> &nbsp;Bỏ qua&nbsp;&nbsp;</button>
</div>