<div>
  <tabset>
    <tab heading="Thông tin" id="tab1">
      <div class="card card-accent-info bg-default">
        <div class="card-body">
          <h3 class="text-primary">Phiếu nhập hàng {{dataItem.maphieunhap}}</h3>
          <br>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group row lable-custom">
                    <label class="col-form-label" for="text-input">Mã nhập hàng: &nbsp;</label>
                    <strong class="col-form-label">{{dataItem.maphieunhap}}</strong>
                </div>    
                <div class="form-group row lable-custom">
                    <label class="col-form-label" for="text-input">Thời gian: &nbsp;</label>
                    <strong class="col-form-label">{{dataItem.thoigian}}</strong>
                </div>
                <div class="form-group row lable-custom">
                    <label class="col-form-label" for="text-input">Nhà cung cấp: &nbsp;</label>
                    <strong class="col-form-label">{{dataItem.nhacungcap}}</strong>
                </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row lable-custom">
                <label class="col-form-label" for="text-input">Ghi chú: &nbsp; </label>
                <strong class="col-form-label">{{dataItem.ghichu}}</strong>
              </div>
            </div>
          </div>
          <div style=" padding: 12px;">
              
              <kendo-grid [data]="gridDataDetails" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter"
                   [sortable]="true" [pageable]="true" [filterable]="true" (dataStateChange)="dataStateChange($event)">
                   <kendo-grid-column field="mahang" title="Ma Hang Hoa">
                   </kendo-grid-column>
                   <kendo-grid-column field="tenhang" title="Ten Hang Hoa">
                   </kendo-grid-column>
                   <kendo-grid-column field="soluong" title="So Luong">
                   </kendo-grid-column>
                   <kendo-grid-column field="dongia" title="Don Gia">
                   </kendo-grid-column>
                   <kendo-grid-column field="giamgia" title="Giam Gia">
                   </kendo-grid-column>
                   <kendo-grid-column field="thanhtien" title="Thanh Tien">
                   </kendo-grid-column>
                  </kendo-grid>
               </div>
               
               <div class="row">
                  <div class="col-md-10">
                    <p class="pull-right">
                      Tổng tiền hàng :
                    </p>
                  </div>
                  <div class="col-md-2">
                    <p class="pull-right">9.700.000</p>
                  </div>
                  <div class="col-md-10">
                    <p class="pull-right">
                      Giảm giá :
                    </p>
                  </div>
                  <div class="col-md-2">
                    <p class="pull-right">0</p>
                  </div>
                  <div class="col-md-10">
                    <p class="pull-right">
                      Tổng cộng :
                    </p>
                  </div>
                  <div class="col-md-2">
                    <p class="pull-right red">9.700.000</p>
                  </div>
                  <div class="col-md-10">
                    <p class="pull-right">
                      Tiền đã trả NCC :
                    </p>
                  </div>
                  <div class="col-md-2">
                    <p class="pull-right red">7.000.000</p>
                  </div>	
                </div>
       
                <ngx-loading [show]="loading"></ngx-loading>
              </div>
        <div class="card-footer text-right">
          <button [style.display]='dataItem.trangthai?"unset":"none"' class="btn btn-success mr-3" role="button">
            <i class="fa fa-floppy-o"></i> &nbsp; Mở phiếu
          </button>
          <button class="btn btn-secondary mr-3" role="button">
            <i class="fa fa-print"></i> &nbsp; In
          </button>
          <button class="btn btn-secondary mr-3" role="button">
            <i class="fa fa-sign-out"></i> &nbsp; Xuất file
          </button>
          <button [style.display]='dataItem.trangthai?"unset":"none"' class="btn btn-danger" (click)="getPhieuNhapSelected(dataItem);openModal(templateHuy);" role="button">
            <i class="fa fa-close"></i> &nbsp; Hủy
          </button>

        </div>
      </div>
    </tab>
    <tab heading="Lịch sử thanh toán">Basic content 1</tab>
  </tabset>
</div>