<div>
  <tabset>
    <tab heading="Thông tin" id="tab1">
      <div class="card bg-default">
        <div class="card-body">
          <h3 class="text-primary">{{dataItem.tenhang}}</h3>
          <br>
          <div class="row">
            <div class="col">
              <strong class="col-form-label mr-4">
                <i class='fa fa-{{dataItem.hinhthucban?"check":"times"}} text-success'></i> &nbsp;{{dataItem.hinhthucban?"":"Không"}} Được bán trực tiếp
              </strong>

              <strong class="col-form-label mr-4">
                <i class="fa fa-times  text-danger"></i> &nbsp;Không tích điểm
              </strong>

              <strong class="col-form-label">
                <i class='fa fa-{{dataItem.lamonthem?"check text-success":"times text-danger"}}  '></i> &nbsp;{{dataItem.lamonthem?"Là":"Không là"}} món thêm (Extra topping)</strong>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4">

              <div class="row">



                <div class="col-sm-8 ">
                  <div class="border-custom-lg"></div>
                </div>
                <div class="col-sm-4">
                  <div class="col-sm-12 border-custom-sm"></div>
                  <div class="col-sm-12 border-custom-sm"></div>
                  <div class="col-sm-12 border-custom-sm"></div>
                  <div class="col-sm-12 border-custom-sm"></div>
                </div>



              </div>

            </div>
            <div class="col-md-4">
              <div class="form-group row lable-custom">
                <label class="col-form-label" for="text-input">Mã hàng hóa: &nbsp;</label>
                <strong class="col-form-label">{{dataItem.mahanghoa}}</strong>
              </div>
              <div class="form-group row lable-custom">
                <label class="col-form-label" for="text-input">Loại thực đơn: &nbsp; </label>
                <strong class="col-form-label">{{dataItem.thucDon.ten}}</strong>
              </div>
              <div class="form-group row lable-custom">
                <label class="col-form-label" for="text-input">Nhóm hàng: &nbsp; </label>
                <strong class="col-form-label">{{dataItem.nhomHang.ten}}</strong>
              </div>
              <div class="form-group row lable-custom">
                <label class="col-form-label" for="text-input">Loại hàng: &nbsp; </label>
                <strong class="col-form-label">{{dataItem.loaihang.ten}}</strong>
              </div>
              <div class="form-group row lable-custom">
                <label class="col-form-label" for="text-input">Định mức tồn: &nbsp; </label>
                <strong class="col-form-label">{{dataItem.dmin}} > {{dataItem.dmnn}}</strong>
              </div>


            </div>
            <div class="col-md-4">
              <div class="form-group row lable-custom">
                <label class="col-form-label" for="text-input">Giá bán: &nbsp; </label>
                <strong class="col-form-label">{{dataItem.giaban}}</strong>
              </div>
              <div class="form-group row lable-custom">
                <label class="col-form-label" for="text-input">Giá vốn: &nbsp; </label>
                <strong class="col-form-label">{{dataItem.giavon}}</strong>
              </div>
              <div class="form-group row lable-custom">
                <label class="col-form-label" for="text-input">Mô tả: &nbsp; </label>
                <strong class="col-form-label">{{dataItem.mota}}</strong>
              </div>
              <div class="form-group row lable-custom">
                <label class="col-form-label" for="text-input">Ghi chú đặt hàng: &nbsp; </label>
                <strong class="col-form-label">{{dataItem.ghichu}}</strong>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-right">
          <button class="btn btn-primary mr-3" (click)="getHanghoaSelected(dataItem);openModalUpdate(templateCapNhatHangHoa);" role="button">
            <i class="icon-note"></i> &nbsp; Chỉnh sữa
          </button>
          <button class="btn btn-secondary mr-3" (click)="getHanghoaSelected(dataItem);openModal(template);isDelete=false;" role="button">
            <i class='icon-{{dataItem.trangthai?"lock":"lock-open"}}'></i> &nbsp; {{dataItem.lamonthem?"Tạm dừng hoạt động":"Cho hoạt động lại"}}
          </button>
          <button class="btn btn-danger" (click)="getHanghoaSelected(dataItem);openModal(template);isDelete=true;" role="button">
            <i class="fa fa-trash-o"></i> &nbsp; Xóa
          </button>

        </div>
      </div>
    </tab>
    <tab heading="Thẻ kho">
      <div class="row">

        <div class="container">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th style="width:10%">
                  <strong>Chứng từ</strong>
                </th>
                <th>
                  <strong>Phương thức</strong>
                </th>
                <th style="width:10%">
                  <strong>Thời gian</strong>
                </th>
                <th style="width:10%">
                  <strong>Giá vốn</strong>
                </th>
                <th style="width:10%">
                  <strong>Số lượng</strong>
                </th>
                <th style="width:10%">
                  <strong>Tồn cuối</strong>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="6" class="text-center"> Không tìm thấy kết quả nào phù hợp</td>

              </tr>

            </tbody>
          </table>
          <br>
          <br>

          <button type="button" class="btn btn-success">
            <i class="icon-logout"></i> Xuất file</button>

        </div>
      </div>
    </tab>
    <tab heading="Tồn kho">
      <div class="row">

        <div class="container">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th>
                  <strong>Chi nhánh</strong>
                </th>
                <th style="width:10%">
                  <strong>Tồn kho</strong>
                </th>
                <th style="width:10%">
                  <strong>Đặt hàng</strong>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td>500</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Chi nhánh trung tâm</td>
                <td>500</td>
                <td>0</td>
              </tr>

            </tbody>
          </table>
          <br>
          <br>

        </div>
      </div>
    </tab>
    <tab heading='{{dataItem.lamonthem?"Món được thêm":"Món thêm"}}'>
      <div class="row">

        <div class="container">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th style="width:15%">
                  <strong>Tên hàng hóa</strong>
                </th>
                <th>
                  <strong>Giá bán</strong>
                </th>
                <th style="width:15%">
                  <strong>Số lượng</strong>
                </th>

              </tr>
            </thead>


              <tbody>
                <tr *ngFor="let mt of servicemonthem.listmonthem">
                  <td *ngIf="dataItem.lamonthem">{{mt.tenmonan}}</td>
                  <td *ngIf="dataItem.lamonthem">{{mt.giabanmonan}}</td>
                  <td *ngIf="dataItem.lamonthem">{{mt.soluong}}</td>
                  <td *ngIf="!dataItem.lamonthem">{{mt.tenmonthem}}</td>
                  <td *ngIf="!dataItem.lamonthem">{{mt.giabanmonthem}}</td>
                  <td *ngIf="!dataItem.lamonthem">{{mt.soluong}}</td>
                </tr>
                <tr *ngIf="!servicemonthem.listmonthem.length>0">
                  <td colspan="3" class="text-center"> Không tìm thấy kết quả nào phù hợp</td>

                </tr>
              </tbody>
           

          </table>
          <br>
          <br>
        </div>
      </div>
    </tab>
  </tabset>
</div>
<!-- modal xóa -->
<ng-template #template>

  <div class="modal-body text-center">
    <p>Bạn có chắc muốn {{isDelete?"xóa":"thay đổi trang thái"}} hàng hóa này?</p>
    <button type="button" class="btn btn-primary mr-2" (click)="confirm()">&nbsp;&nbsp;
      <i class="icon-check"></i>&nbsp; Đồng ý</button>
    <button type="button" class="btn k-button k-primary" (click)="decline()">&nbsp;&nbsp;
      <i class="fa fa-ban fa-md"></i> &nbsp;Không đồng ý</button>
  </div>
</ng-template>
<!-- Modal cập nhật -->
<ng-template #templateCapNhatHangHoa>
  <hanghoa-chinhsua [isAdd]="false" [modalRef]="modalRef"></hanghoa-chinhsua>
</ng-template>