.lable-custom{
    border-bottom: rgb(196, 196, 196) solid 0.2px;
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 15px;
}
.border-custom-lg{
    border: #000 dashed 0.05px;
    height: 225px;
    width: 225px;
}

.border-custom-sm{
    border: #000 dashed 0.05px;
    margin-bottom: 5.5px;
    height: 60px;
    width: 60px;
}