<div class="custom-title">QUẢN LÝ PHÒNG/BÀN </div>
  <div class="card card-accent-info ">
  <div class="card-header ">
    
    <div class="text-right text-white ">
      <button type="button" class="btn btn-success btn-pill" (click)="service.titleSelected=true;resetItemSelected();" data-toggle="modal" data-target="#ModalEdit">
        <i class="fa fa-plus fa-md"></i>
        Thêm mới phòng/bàn
      </button>
    </div>

    <span>Show&nbsp;</span>
    <select [(ngModel)] = "state.take" (ngModelChange)='onPageSelectedChange($event)'>
      <option *ngFor="let page of pageList" [value]="page">{{page}}</option>
    </select>
    <span>&nbsp;items</span>

  </div>
  <div class="card-body">
      <ngx-loading [show]="loading"></ngx-loading>
<kendo-grid
[data]="gridData"
[pageSize]="state.take"
[skip]="state.skip"
[sort]="state.sort"
[filter]="state.filter"
[sortable]="true"
[pageable]="true"
[filterable]="true"
(dataStateChange)="dataStateChange($event)">
    <kendo-grid-column field="tenban" title="Tên Bàn" >
    </kendo-grid-column>

    <kendo-grid-column field="nhombanID" title="Nhóm">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div *ngFor="let nhomban of nhombans">

          {{nhomban.banID==dataItem.nhombanID?nhomban.tenban:""}}
        </div>
      
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="ghichu" title="Ghí chú" [filterable]="false"  [sortable]="false">
    </kendo-grid-column>
    
    <kendo-grid-column field="trangthai" title="Trạng thái" filter="boolean" [sortable]="false">
        <ng-template kendoGridCellTemplate let-dataItem>
            <label class="switch switch-label switch-success">
                <input 
                 class="switch-input"
                  type="checkbox"
                  name="trangthai"
                  [checked]="dataItem.trangthai" disabled
                  >
                <span class="switch-slider" data-checked="✓" data-unchecked="✕"></span>
              </label>
          
        </ng-template>
    </kendo-grid-column>

    <div *kendoGridDetailTemplate="let dataItem">
        <ban-detail [dataItem]="dataItem" [nhombans]="nhombans"></ban-detail>
    </div>
</kendo-grid>
  </div>

  <!-- Modal update phong ban -->
<div class="modal fade" id="ModalEdit" tabindex="-1" role="dialog" aria-labelledby="ModalThemBanLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class='modal-header bg-{{service.titleSelected?"success":"primary"}}' >
        <h5 class="modal-title" id="exampleModalLabel">{{service.titleSelected?"Thêm mới phòng/bàn":"Chỉnh sữa phòng/bàn"}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <form  class="form-horizontal" #banFrom="ngForm">
              <input class="form-control"
              placeholder="Nhập tên bàn"
               type="hidden"
               name="banID"
               #banID="ngModel"
                [(ngModel)]="service.banItemSelected.banID" 
               
                >
          <div class="form-group row">
            <label class="col-md-3 col-form-label" >Tên bàn</label>
            <div class="col-md-9">
                <div class="input-group">
                  <input class="form-control"
                   placeholder="Nhập tên bàn"
                    type="text"
                    name="tenban"
                    #tenban="ngModel"
                     [(ngModel)]="service.banItemSelected.tenban" 
                     >
                  <span class="input-group-append">
                      <button type="button" popover="Nhập thông tin tên bàn" triggers="mouseenter:mouseleave" class='btn btn-ghost-{{service.titleSelected?"success":"primary"}}'
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                    
                    </button>
                  </span>
                </div>
            </div>
          </div>
          <div class="form-group row"><label class="col-md-3 col-form-label" for="select2">Nhóm</label>
            <div class="col-md-9">
                <div class="input-group">
                    <select  class="form-control form-control-lg" required id="select2"
                    name="nhombanID"
                    #nhombanID="ngModel"
                     [(ngModel)]="service.banItemSelected.nhombanID" 
                     >
                     <option value="-1">---chon ban--</option>
                        <option *ngFor="let nb of nhombans" [value]="nb.banID">{{nb.tenban}}</option>
                      </select>                    
                      <span class="input-group-append">
                          <button type="button" popover="Chọn nơi mà bạn muốn đặt bàn." 
                          triggers="mouseenter:mouseleave" class='btn btn-ghost-{{service.titleSelected?"success":"primary"}}'
                          placement="right">
                          <i class="fa fa-info-circle"></i>
                        </button>
                    </span>
                  </div>

            
            
            </div>
          </div>
          <div class="form-group row"><label class="col-md-3 col-form-label" >Số ghế</label>
            <div class="col-md-9">
             
               <div class="input-group">
                  <input class="form-control" 
                  placeholder="Nhập số ghế của bàn" 
                  type="text"
                  name="soghe"
                  #soghe="ngModel"
                   [(ngModel)]="service.banItemSelected.soghe" >             
                   <span class="input-group-append">
                      <button type="button" popover="Nhập số ghế của bàn trên." 
                      triggers="mouseenter:mouseleave" class='btn btn-ghost-{{service.titleSelected?"success":"primary"}}'
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                    </button>
                  </span>
                </div>

              </div>
          </div>
          <div class="form-group row"><label class="col-md-3 col-form-label" for="multiple-select">Trạng thái</label>
            <div class="col-md-9">
                <label class='switch switch-label switch-{{service.titleSelected?"success":"primary"}}'>
                  <input 
                   class="switch-input"
                    type="checkbox"
                    name="trangthai"
                    #trangthai="ngModel"
                     [(ngModel)]="service.banItemSelected.trangthai" 
                    >
                  <span class="switch-slider" data-checked="✓" data-unchecked="✕"></span>
                </label>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="textarea-input">Ghi chú</label>
            <div class="col-md-9">

                
                    <textarea class="form-control" 
                    placeholder="Nhập một số ghi chú.."
                      rows="6"
                      name="ghichu"
                      #ghichu="ngModel"
                       [(ngModel)]="service.banItemSelected.ghichu" >
                      </textarea>           
                </div>
          </div>

        </form>
      </div>

      <div class="modal-footer">
          <button type="button" class='btn btn-{{service.titleSelected?"success":"primary"}} btn-pill' data-dismiss="modal" (click)="onSubmit(banFrom)" ><i class="fa fa-floppy-o"></i> Lưu</button>
        <button type="button" class="btn btn-danger btn-pill" data-dismiss="modal"><i class="fa fa-ban"></i> Hủy</button>
      
      </div>
    </div>
  </div>
</div>
<!-- Modal dùng hoạt động phong ban -->
<div class="modal fade" id="ModalStopAction" tabindex="-1" role="dialog" aria-labelledby="ModalThemBanLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h3>Bạn có chắc muốn phòng {{service.banItemSelected.tenban}} {{service.banItemSelected.trangthai?"dừng":"tiếp tục"}} hoạt động?</h3>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-pill" data-dismiss="modal"><i class="fa fa-ban"></i> Không Đồng ý</button>
        <button type="button" (click)="stopActionRow();" data-dismiss="modal" class="btn btn-primary btn-pill"><i class="fa fa-check"></i>
          Đồng ý</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal xóa phòng ban -->
<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="ModalThemBanLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
 
      <div class="modal-body">
        <h3>Bạn có chắc muốn xóa {{service.banItemSelected.tenban}} khỏi danh sách?</h3>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-pill" data-dismiss="modal"><i class="fa fa-ban"></i> Không Đồng ý</button>
        <button type="button" (click)="deleteRow();" data-dismiss="modal" class="btn btn-primary btn-pill"><i class="fa fa-check"></i>
          Đồng ý</button>
      </div>
    </div>
  </div>
</div>