<!-- <div class="row">
  <div class="col">
    <div class="input-group">
        <span class="input-group-prepend">
        <button class="btn" disabled style="background: white;border: 0px;" type="button">
        <i class="fa fa-search" style="color: gray;"></i></button>
        </span>
        <input class="form-control" id="input1-group2" type="text" name="input1-group2" placeholder="Tìm khách hàng">
        </div>
  </div>
</div> -->

	<!-- Modal -->
	<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>

				<div class="modal-body">
          <div style="text-align: center;font-size: 30px">HÓA ĐƠN BÀN [{{bancashService.ban.tenban}}] </div>
  <div style="overflow: auto;height: 350px;">
<table class="table table-responsive-sm table-hover" >
    <tbody>
      <tr *ngFor="let b of chitiethoadonservic.cts,let i=index">
        <td >{{i+1}}</td>
        <td >{{b.hangHoa.tenhang}}</td>
        <td >{{b.soluong}}</td>
        <td >{{b.hangHoa.giaban}}</td>
        <td ><strong>{{b.soluong*b.hangHoa.giaban}}</strong></td>
      </tr>
    </tbody>
  </table>
</div>
					
				</div>
        <div>   <strong>Tổng tiền : {{chitiethoadonservic.tongtien}} </strong> </div><br>
            <div style="text-align: center">
              <button class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#myModal2" (click)="updateOrder()"> XÁC NHẬN </button>
            </div>
          
			</div><!-- modal-content -->
		</div><!-- modal-dialog -->
  </div><!-- modal -->
  <div style="text-align: center;font-size: 30px">HÓA ĐƠN BÀN [{{bancashService.ban.tenban}}] </div>
  <div style="overflow: auto;height: 350px;">
<table class="table table-responsive-sm table-hover" >
    <tbody>
      <tr *ngFor="let b of chitiethoadonservic.cts,let i=index">
        <td >{{i+1}}</td>
        <td ><button class="btn btn-ghost-danger" (click)="deleteDetail(b)">X</button></td>
        <td >{{b.hangHoa.tenhang}}</td>
        <td style="width: 20%"><input style="width: 50%" type="number" #soluong value="{{b.soluong}}"><button (click)="updateQuantity(b,soluong.value)">OK</button></td>
        <td >{{b.hangHoa.giaban}}</td>
        <td ><strong>{{b.soluong*b.hangHoa.giaban}}</strong></td>
      </tr>
    </tbody>
  </table>
</div>
  

  <footer>
    <div class="container-fluid">
      <hr>
        <div class="row" style="margin-bottom: 15px">
          <!-- <div class="col-3">
           
            <select class="form-control" id="select2" name="select2">
                <option value="0">Quản lí</option>
                <option value="1">Thu ngân</option>
              </select>
              </div> -->
            
              <div class="col-3"><button class="btn btn-sm"><i class="icon-note"> Ghi chú</i></button></div>
              <div class="col-3"><button class="btn btn-sm"><i class="icon-bell"> Lịch sử</i></button></div>
              <div class="col-3">Tổng số lượng : {{chitiethoadonservic.soluong}} &nbsp; Tổng tiền : <strong>{{chitiethoadonservic.tongtien}}</strong> </div>
              <!-- {{bancashService.test1.soluong}} {{bancashService.test1.tongtien}}-->
         </div> 
      <div class="row">
        <div class="col-6">
          <button class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#myModal2">THANH TOÁN</button>
        </div>
        <div class="col-5">
          <button class="btn btn-info btn-lg btn-block">CHUYỂN BÀN</button>
        </div>
      </div>
      <div class="row" style="margin-top: 10px">
         <i class="icon-phone"> Hỗ trợ khách hàng 1800 xxxx</i> &nbsp;  &nbsp;
         <i class="icon-location-pin"> Chi nhánh trung tâm</i>
      </div> 
    </div> 
    
    </footer>
    