.table-header{
    background-color: #307ECC;
    color: #FFF;
    font-size: 24px;
    line-height: 30px;
    padding-left: 12px;
    margin-bottom: 3px;
    margin-top: 5px;
    text-align: center;
}




    .modal-custom{
        width: 880px;
    }

