<div class="container-fluid">
  
  

  <div class="table-header">
    QUẢN LÝ HÀNG HÓA
  </div>
  <div class="card">
      <div class="card-header ">
    
          <div class="text-right text-white ">
              <div class="btn-group mr-2" role="group" aria-label="Third group">
                  <div class="dropdown open mr-2">
                      <button class="btn btn-success dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-plus"></i>
                        Thêm mới
                      </button>
                      <div class="dropdown-menu bg-success" aria-labelledby="triggerId">
                        <button class="dropdown-item" (click)="resetItemSelected();service.hanghoaItemSelected.loaihang.loaihangID=1;openModal(templateThemHangHoa);"><i class="fa fa-plus"></i>Thêm
                          nguyên liệu</button>
                        <button class="dropdown-item" (click)="resetItemSelected();service.hanghoaItemSelected.loaihang.loaihangID=2;openModal(templateThemHangHoa);" href="#"><i class="fa fa-plus"></i>Thêm món ăn</button>
                      </div>
                    </div>
                  <button type="button" class="btn btn-success mr-2"><i class="fa fa-database"></i> Export</button>
                  <div class="dropdown open">
                      <button class="btn btn-success dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-th"></i>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="triggerId">
                        <button class="dropdown-item">Ẩn cột tên sản phẩm</button>
                        <button class="dropdown-item">Ẩn cột mã sản phẩm</button>
                      </div>
                    </div>
                </div>
            </div>
      
          <span>Show&nbsp;</span>
          <select [(ngModel)] = "state.take" (ngModelChange)='onPageSelectedChange($event)'>
            <option *ngFor="let page of pageList" [value]="page">{{page}}</option>
          </select>
          <span>&nbsp;items</span>
      
        </div>
  
    <div class="card-body">
        <ngx-loading [show]="loading"></ngx-loading>
        <kendo-grid [data]="gridData" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter"
        [sortable]="true" [pageable]="true" [filterable]="true" (dataStateChange)="dataStateChange($event)">
        <kendo-grid-column field="mahanghoa" title="Mã hàng hóa">
        </kendo-grid-column>
        <kendo-grid-column field="tenhang" title="Hàng hóa">
        </kendo-grid-column>
        <kendo-grid-column field="thucDon.ten" title="Loại lhực đơn" [sortable]="false">
        </kendo-grid-column>
        <kendo-grid-column field="nhomHang.ten" title="Nhóm hàng" [sortable]="false">
        </kendo-grid-column>
        <kendo-grid-column field="loaihang.ten" title="Loại hàng" [sortable]="false">
        </kendo-grid-column>
  
        <kendo-grid-column field="trangthai" title="Trạng thái" filter="boolean" [sortable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <label class="switch switch-label switch-success">
              <input class="switch-input" type="checkbox" name="trangthai" [checked]="dataItem.trangthai" disabled>
              <span class="switch-slider" data-checked="✓" data-unchecked="✕"></span>
            </label>
  
          </ng-template>
        </kendo-grid-column>
  
        <div *kendoGridDetailTemplate="let dataItem">
       
          <hanghoa-detail [dataItem] = "dataItem"></hanghoa-detail>
  
        </div>
      </kendo-grid>
    </div>
  </div>
</div>
<!-- Modal thêm -->
<ng-template #templateThemHangHoa>
<hanghoa-chinhsua [isAdd]="true" [modalRef]="modalRef"></hanghoa-chinhsua>
</ng-template>
