  <div class="row" style="margin: 0px;height: -webkit-fill-available;">
  <!-- /.col-->
  <div class="col-md-6 mb-4" style="padding: 0px;">
      <ul class="nav nav-tabs" style="background: #20a8d8;" role="tablist">
        <li class="nav-item" style="margin-left: 10px;">
          <a class="nav-link active" data-toggle="tab" href="#ban" role="tab" aria-controls="home">
            <i class="icon-home"></i> PHÒNG BÀN  </a>
        </li>
        <li class="nav-item">
          <a class="nav-link thucdon" data-toggle="tab" href="#mon" role="tab" aria-controls="profile">
            <i class="icon-book-open"></i> THỰC ĐƠN </a>
        </li>
        <li class="nav-item col-md-7">
                <div class="input-group">
                <span class="input-group-prepend">
                <button class="btn" disabled style="background: white;border: 0px;" type="button">
                <i class="fa fa-search" style="color: gray;"></i></button>
                </span>
                <input class="form-control" id="input1-group2" type="text" name="input1-group2" placeholder="Tìm sản phẩm">
                </div>
        </li>
      </ul>
      <div class="tab-content" style="background: #EBEBEB ">
        <div class="tab-pane active" id="ban" role="tabpanel">
          <app-orban></app-orban>
        </div>
        <div class="tab-pane" id="mon" role="tabpanel">
          <app-ormon></app-ormon>
        </div>
      </div>
    </div>
    <!-- /.col-->
    <!-- /.col-->
    <div class="col-md-6 mb-4" style="padding: 0px">
        <ul class="nav nav-tabs" role="tablist" style="background: #20a8d8;">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#hd1" role="tab" aria-controls="home">
              <i class="icon-calculator"></i> Hóa đơn </a>
          </li>
         
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="hd1" role="tabpanel">
            <app-orcash></app-orcash>
          </div>
          
          </div>
        </div>
      
      <!-- /.col-->
    </div>