.body{
    font-weight: 600 !important;
}
.nav-item{
    margin-top: 5px;
}
.tab-content{
    border: 0px;
    height: 96%;
}
.nav-tabs .nav-link.active {
    font-weight: 600;
    color: black;
    font-size: 15px
}
.nav-tabs .nav-link {
    font-weight: 600;
    color: white;
}
