<header>
    <div class="row">
        <div class="col-2">
            <button class="btn btn-block btn-outline-dark" (click)="loadData()" type="button">Tất cả</button>
        </div>
        <div class="col-2" *ngFor="let nh of myservice.listnhomhang">
            <button class="btn btn-block btn-outline-dark" #Nhomhang [value]="nh.nhomhangID" (click)="loadMon(Nhomhang.value)" type="button">{{nh.ten}}</button>
        </div>
        
        </div>
    
    </header>
    <div class="container mt-5">
        <div class="row">
                <div class="col-sm-1 text-center" style="line-height: 25;">
                        
                        <button type="button" (click)="previousMon()" class="btn btn-default btn-pill"><strong><i class="fa fa-chevron-left fa-lg"></i></strong></button>
                        
                    </div>
                    <div class="col-sm-10 text-center">
                      <div *ngFor="let m of mon_sub; ">
                          <div *ngFor="let a of anhs"
                             style="width: 25%;
                             float: left;
                             white-space: nowrap;
                             overflow:hidden !important;
                             text-overflow: ellipsis;" >
                             <!-- <button *ngIf="m.hanghoaID == a.hanghoaID" class="monan" #mon [value]="m.tenhang" (click)="setTenMon(mon.value)"> -->
                            <button *ngIf="m.hanghoaID == a.hanghoaID" class="monan" #mon (click)="addDetail(m)">   
                                <img src="{{a.link}}" alt="{{a.alt}}" style="width: 100px;height: 100px;"><br>
                                <label>{{m.tenhang}}</label><br>
                                <label style="color: #0090DA"><strong>{{m.giaban}}</strong></label><br>
                                <!-- <label>Số lượng : &nbsp; </label><input style="width: 30%;text-align: right" type="number" #soluong> -->
                            </button>
                          </div>        
                      </div>
                    </div>
                    <div class="col-sm-1" style="line-height: 25;">
                            <button type="button" (click)="nextMon()" class="btn btn-default btn-pill"><strong><i class="fa fa-chevron-right fa-lg"></i></strong></button>
                    </div>
    </div>
</div>
    
