.monan{
    border: 0px;
    background: transparent;
    margin-bottom: 14px
}
.monan:hover{
    // box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background:  #B0E0F1
}