<header>
<div class="row">
    <div class="col-2">
        <button class="btn btn-block btn-outline-dark nutcatolo" (click)="loadData()" type="button">Tất cả</button>
    </div>
    <div class="col-2" *ngFor="let nb of nhombans">
        <button class="btn btn-block btn-outline-dark nutcatolo" #nhomban [value]="nb.banID" (click)="loadBan(nhomban.value)" type="button">{{nb.tenban}}</button>
    </div>
    
</div>
</header>

<div class="container mt-5" >
    
    <div class="row">
        
        <div class="col-sm-1 text-center" style="line-height: 25;">
            
            <button type="button" (click)="previousPhongBan()" class="btn btn-default btn-pill"><strong><i class="fa fa-chevron-left fa-lg"></i></strong></button>
            
        </div>
        <div class="col-sm-10 text-center">
                <div *ngFor="let b of ban_sub">
                        <div 
                        style="width: 25%;
                        float: left;
                        white-space: nowrap;
                        overflow:hidden !important;
                        
                        text-overflow: ellipsis;">
                        <button class='btn btn-ghost-{{b.trangthai?"danger":"success"}}' #ban [value]="b.tenban" (click)="sendBan(b)">
                           <img src="https://cdn0.iconfinder.com/data/icons/cooking-18/64/dinner-food-restaurant-table-512.png" alt="Table" style="width: 100px;height: 100px;"><br>
                           <label>{{b.tenban}}</label>
                       </button>  
                   
                     </div>  
                </div>
        </div>
        <div class="col-sm-1" style="line-height: 25;">
                <button type="button" (click)="nextPhongBan()" class="btn btn-default btn-pill"><strong><i class="fa fa-chevron-right fa-lg"></i></strong></button>
        </div>
        
    </div>
</div>

<footer>
  <div class="row">
      <label class="col-3" style="margin-left:15px "> Sử dụng : 0/30</label>
      <div class="form-check checkbox col-5">
          <input class="form-check-input" id="check1" type="checkbox" value="">
          <label class="form-check-label" for="check1"> Mở thực đơn khi chọn bàn</label>
      </div>
      <div class="col-3">
      <select class="form-control" id="select1" name="select1">
          <option value="0">Tất cả</option>
          <option value="1">Bàn trống</option>
          <option value="2">Bàn đã sử dụng</option>
          </select>
      </div>
  </div>
</footer>