html {
    position: absolute;
    min-height: 100%;
}
body {
    margin: 0 0 100px;
    /* bottom = footer height */
    padding: 25px;
}
footer{
    // background-color: orange;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    overflow: hidden;
    margin-left: 15px;
    font-weight: 400
}
select{
    font-weight: 400;
    border-color: #DCDCDC;
}
// button{
//     border: 0px;
//     background: transparent;
//     margin-bottom: 14px
// }
.banan{
    border: 0px;
    background: transparent;
    margin-bottom: 14px
}
// .nutcatolo{
//     color: black;
//     background: white;
//     border-color: #DCDCDC
// }
.banan:hover{
    background: #B0E0F1;
   
}