.custom-title{
    font-size: 25px;
    font-weight: 800;
    padding-bottom: 20px;
    text-align: center;
    background: -webkit-linear-gradient(#6610f2, #17a2b8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-body{
    background-color: #e1e1e1;
}

.lable-custom{
    border-bottom: rgb(196, 196, 196) solid 0.2px;
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 15px;
}