<div class="container">
    <div class="row">
        <div class="col-md-8">
            <app-nhaphanghoa></app-nhaphanghoa>
        </div>
        <div class="col-md-4">
            <app-phieunhaphang></app-phieunhaphang>
        </div>
      </div>
</div>

