<section class="kv2Right purchaseorder" style="height: 532px;">
  <article class="kv2Right-content form-custom">
     <div class="kv2Box ng-scope" >
        <div class="kv2BoxTop">
           <div class="form-wrapper form-labels-120 mb0">
              
              
              
              <div class="form-group">
                 <label class="form-label control-label ng-binding">Mã phiếu nhập</label>
                 <div class="form-wrap"><input tabindex="100004" type="text" title=""   class="codeAuto"></div>
              </div>
              <div class="form-group mb10">
                 <div class="form-label control-label">Trạng thái:&nbsp;&nbsp;&nbsp;&nbsp;    Phiếu tạm</div>
                 
              </div>
           </div>
           <div class="form-wrapper form-labels-170 kv3Pay">
              <div class="form-group">
                 <label class="form-label control-label ng-binding">Tổng tiền hàng</label>
                 <div class="form-wrap form-control-static">{{nhaphangService.tongtien}}</div>
              </div>
              <div class="form-group" >
                 <label class="form-label control-label">Giảm giá</label>
                 <div class="form-wrap"><input  type="number" [(ngModel)]="giamgia"></div>
              </div>
              <div class="form-group" >
                 <label class="form-label control-label ">Đã trả nhà cung cấp</label>
                 <div class="form-wrap"><input  [(ngModel)]="datra" type="number"></div>
              </div>
              
              
              
              
        
                 <div class="kv2Pop pop popArrow" >
                    <div ></div>
                 </div>
              
                 <div class="kv2Pop pop popArrow" >
                    <div ></div>
                 </div>
              
           </div>
        </div>
        <div class="form-group" >
          <label class="form-label control-label txtB ">Cần trả nhà cung cấp</label>
          <div class="form-wrap form-control-static payOrder ">{{nhaphangService.tongtien - giamgia + datra}}</div>
       </div>
     </div>
  </article>
  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-danger"  [routerLink]="['/phieunhap']">Trở về</button>
  &nbsp;&nbsp;<button type="button" class="btn btn-success" [routerLink]="['/phieunhap']">Hoàn thành</button>
</section>
   <!-- <form>
        <td style="width: 50%">
            &nbsp;<label for="Last_Name"><b>Trạng thái</b></label>
            &nbsp;&nbsp;&nbsp;&nbsp;<label for="Last_Name"><b>Phiếu tạm</b></label>
        </td> <br>
        <td style="width: 50%">
            &nbsp;<label for="Last_Name"><b>Tổng tiền hàng</b></label>
            &nbsp;&nbsp;&nbsp;&nbsp;<label for="Last_Name"><b>{{nhaphangService.tongtien}}</b></label>
        </td> <br>
        <td style="width: 50%">
            &nbsp;<label for="Last_Name"><b>Số tiền cần trả</b></label>
            &nbsp;&nbsp;&nbsp;&nbsp;<label for="Last_Name"><b></b></label>
        </td> <br>
     </form>-->
 

