.kv2Right {
    background: #fff;
    border-color: #d7d7d7;
    color: #111;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    padding: 0 15px 25px 17px;
    margin-top: -20px;
    margin-bottom: 5px;
    width: 363px;
    height: 532px;
}
.kv2Right {
    border: 1px solid #dbe9ee;
    float: right;
}

.autocomplete li span.sugg-code, article, aside, audio, canvas, figcaption, figure, figure img, footer, header, hgroup, nav, section, video {
    display: block;
}


.kv2Right .kv2Right-content {
    height: calc(100% - 70px);
    overflow: hidden;
    margin-top: 16px;
}

.kv2Right .kv2Right-content .kv2Box:first-child {
    padding: 0;
}

.kv2Right .kv2BoxTop {
    margin-bottom: 15px;
}

.purchaseorder .kv2Right-content .kv3Pay {
    max-height: 182px;
    overflow: auto;
    padding-right: 5px;
}

.form-wrapper {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
}

.container, .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
}

.clb {
    clear: both;
}