<div class="container-fluid">
    <div class="row">
      <div class="col-sm">
  
      </div>
      <div class="col-sm">
  
      </div>
      <div class="col-sm">
  
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="Third group">
            <button type="button" class="btn btn-success" [routerLink]="['/nhaphang']"><i class="fa fa-plus"></i> Nhập hàng</button>
          </div>
  
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <div>
                <button class="btn btn-success" type="button" id="triggerId" 
                aria-haspopup="true" aria-expanded="false" (click)="openModal(templateThemHangHoa);">
                <i class="fa fa-database"></i>
                Xuất file
              </button>
            </div>
          </div>
          <div class="btn-group" role="group" aria-label="Third group">
            <div class="dropdown open">
              <button class="btn btn-success dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-th"></i>
              </button>
              <div class="dropdown-menu bg-success" aria-labelledby="triggerId">
                <button class="dropdown-item" href="#">Ẩn cột tên sản phẩm</button>
                <button class="dropdown-item" href="#">Ẩn cột mã sản phẩm</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-header">
      QUẢN LÝ PHIẾU NHẬP HÀNG
    </div>
    <div style="background-color: #EFF3F8;  padding: 12px;">
   <kendo-grid [data]="gridData" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter"
        [sortable]="true" [pageable]="true" [filterable]="true" (dataStateChange)="dataStateChange($event)">
        <kendo-grid-column field="maphieunhap" title="Ma Nhap Hang">
        </kendo-grid-column>
        <kendo-grid-column field="thoigian" title="Thoi Gian">
        </kendo-grid-column>
        <kendo-grid-column field="nhacungcap" title="Nha Cung Cap">
        </kendo-grid-column>
        <kendo-grid-column field="tongcong" title="Can Tra NCC" [sortable]="false">
        </kendo-grid-column>
  
        <kendo-grid-column field="trangthai" title="Trạng thái" filter="boolean" [sortable]="true">
          <ng-template kendoGridCellTemplate let-dataItem>
            <label class="switch switch-label switch-success">
              <input class="switch-input" type="checkbox" name="trangthai" [checked]="dataItem.trangthai" disabled>
              <span class="switch-slider" data-checked="✓" data-unchecked="✕"></span>
            </label>
  
          </ng-template>
          <ng-template kendoGridToolbarTemplate>
              <div class="dropdown open">
                  <button class="btn btn-success dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-database"></i>
                    Xuất file
                  </button>
                  <div class="dropdown-menu bg-default" aria-labelledby="triggerId">
                    <button class="dropdown-item" kendoGridPDFCommand><i class="fa fa-share-square-o"></i>File PDF</button>
                    <button class="dropdown-item" kendoGridExcelCommand ><i class="fa fa-share"></i>File excel</button>
                  </div>
                </div>
             
          </ng-template>
        </kendo-grid-column>

  
        <div *kendoGridDetailTemplate="let dataItem">
          <chitietphieunhap [dataItem]="dataItem"></chitietphieunhap>
        </div>
        <kendo-grid-pdf fileName="DanhsachPhieunhap.pdf" paperSize="A4" [scale]="0.8"  [repeatHeaders]="true">
            <kendo-grid-pdf-margin top="1cm" left="1cm" right="1cm" bottom="1cm"></kendo-grid-pdf-margin>
        </kendo-grid-pdf>
        <kendo-grid-excel fileName="DanhsachPhieunhap.xlsx"></kendo-grid-excel>
      </kendo-grid>
    </div>
  </div>
  
  <!-- modal cập nhật -->
  <ng-template #templateCapNhat>
  
    <div class="modal-body text-center">
      <p>Bạn có chắc muốn thay đổi thông tin của phiếu nhập hàng này?</p>
      <button type="button" class="btn btn-default mr-2" (click)="onSubmit()">Có</button>
      <button type="button" class="btn btn-primary" (click)="decline()">Không</button>
    </div>
  </ng-template>
  <!-- modal hủy -->
  <ng-template #templateHuy>
  
    <div class="modal-body text-center">
      <p>Bạn có chắc muốn hủy phiếu nhập hàng này?</p>
      <button type="button" class="btn btn-default mr-2" (click)="stopActionRow()">Có</button>
      <button type="button" class="btn btn-primary" (click)="decline()">Không</button>
    </div>
  </ng-template>
  <!-- Modal thêm -->
  <ng-template #templateThemHangHoa>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Thêm mới hàng hóa</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <tabset [justified]="true">
        <tab heading="Thông tin">
        
            
  
                    
                    <form>
                      
                          <div class="row">
  
                                  <div class="col-sm-7">
                                    <div class="form-group row">
                                      <label class="col-sm-4 col-form-label" for="text-input"><strong>Mã hàng hóa</strong></label>
                                      <div class="col-sm-8">
                        
                                        <div class="input-group ">
                                          <input class="form-control" placeholder="Nhập mã hàng" type="text" name="mahanghoa" #mahanghoa="ngModel"
                                            [(ngModel)]="service.hanghoaItemSelected.mahanghoa">
                                          <span class="input-group-append">
                                            <button type="button" tooltip="Mã hàng hóa là thông tin duy nhất" triggers="mouseenter:mouseleave"
                                              class='btn btn-ghost-success' placement="right">
                                              <i class="fa fa-info-circle"></i>
                        
                                            </button>
                                          </span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <label class="col-sm-4 col-form-label" for="text-input"><strong>Tên hàng</strong></label>
                                      <div class="col-sm-8">
                        
                                        <div class="input-group ">
                                          <input class="form-control" placeholder="Nhập tên hàng" type="text" name="mahanghoa" #mahanghoa="ngModel"
                                            [(ngModel)]="service.hanghoaItemSelected.tenhang">
                                          <span class="input-group-append">
                                            <button type="button" tooltip="Tên hàng là tên của sản phẩm" triggers="mouseenter:mouseleave"
                                              class='btn btn-ghost-success' placement="right">
                                              <i class="fa fa-info-circle"></i>
                        
                                            </button>
                                          </span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <label class="col-sm-4 col-form-label" for="text-input"><strong>Loại thực đơn</strong></label>
                                      <div class="col-sm-8">
                        
                                        <div class="input-group ">
                                          <input class="form-control" placeholder="Nhập loại thưc đơn" type="text" name="loaithucdon" #loaithucdon="ngModel"
                                            [(ngModel)]="service.hanghoaItemSelected.loaithucdon">
                                          <span class="input-group-append">
                                            <button type="button" tooltip="Lựa chọn loại thực đơn sản phẩm" triggers="mouseenter:mouseleave"
                                              class='btn btn-ghost-success' placement="right">
                                              <i class="fa fa-info-circle"></i>
                        
                                            </button>
                                          </span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <label class="col-sm-4 col-form-label" for="text-input"><strong>Nhóm hàng</strong></label>
                                      <div class="col-sm-8">
                        
                                        <div class="input-group ">
                                          <input class="form-control" placeholder="Nhập nhóm hàng" type="text" name="nhomhang" #nhomhang="ngModel"
                                            [(ngModel)]="service.hanghoaItemSelected.nhomhang">
                                          <span class="input-group-append">
                                            <button type="button" tooltip="Lựa chọn nhóm hàng cho sản phẩm" triggers="mouseenter:mouseleave"
                                              class='btn btn-ghost-success' placement="right">
                                              <i class="fa fa-info-circle"></i>
                        
                                            </button>
                                          </span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <label class="col-sm-4 col-form-label" for="text-input"><strong>Giá bán</strong></label>
                                      <div class="col-sm-8">
                        
                                        <div class="input-group ">
                                          <input class="form-control" placeholder="Nhập giá bán" type="number" name="giaban" #giaban="ngModel"
                                            [(ngModel)]="service.hanghoaItemSelected.giaban">
                                          <span class="input-group-append">
                                            <button type="button" tooltip="Giá của sản phẩm bán ra" triggers="mouseenter:mouseleave"
                                              class='btn btn-ghost-success' placement="right">
                                              <i class="fa fa-info-circle"></i>
                        
                                            </button>
                                          </span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <label class="col-sm-4 col-form-label" for="text-input"><strong>Tồn kho</strong></label>
                                      <div class="col-sm-8">
                                        <div class="input-group ">
                                          <input class="form-control" placeholder="Nhập số lượng" type="text" name="tonkho" #tonkho="ngModel"
                                            [(ngModel)]="service.hanghoaItemSelected.tonkho">
                                          <span class="input-group-append">
                                            <button type="button" tooltip="Số lượng tồn kho của sản phẩm(sẽ tự động tạo ra phiếu kiểm kho cho sản phẩm)" triggers="mouseenter:mouseleave"
                                              class='btn btn-ghost-success' placement="right">
                                              <i class="fa fa-info-circle"></i>
                        
                                            </button>
                                          </span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-sm-5">
                                        <div class="form-group row">
                                                <label class="col-form-label" for="text-input"><strong>Chọn ảnh</strong></label>
                                              
                                                    <input class="form-control" type="file" 
                                                     >
                                        
                                              </div>
                                        <div class="form-group row">
                                                
                                                <div class="checkbox form-control">
                                                    <label>
                                                        <input type="checkbox" checked value="">
                                                        Được bán trực tiếp
                                                    </label>
                                                </div>
                                                <div class="checkbox form-control">
                                                    <label>
                                                        <input type="checkbox" value="">
                                                        Là món thêm
                                                    </label>
                                                </div>
                                                
                                        
                                              </div>
                                  </div>
                        
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                            <accordion>
                                                    <accordion-group heading="Theo dõi thuộc tính (Màu sắc, Kích thước...) ">
                                                     
                                                     <button type="button" class="btn btn-success btn-pill btn-ghost-success"><i class="fa fa-plus fa-md"></i> Thêm mới thuộc tính</button>
                                                     
                                                    </accordion-group>
                                                    <accordion-group heading="Đơn vị tính">
                                                            <button type="button" class="btn btn-success btn-pill btn-ghost-success"><i class="fa fa-plus fa-md"></i> Thêm mới đơn vị</button>
                                                            
                                                    </accordion-group>
                                                   
                                                  </accordion>
                                    </div>
                            </div>
                    
                    </form>
                    
  
     
        </tab>
        <tab heading="Mô tả chi tiết"></tab>
        <tab heading="Thành phần"></tab>
        <tab heading="Món thêm"></tab>
      </tabset>
    </div>
    <div class="modal-footer">
          <button type="button" class="btn btn-primary mr-2" (click)="modalRef.hide()">&nbsp;&nbsp;<i class="fa fa-floppy-o"></i> &nbsp;Lưu&nbsp;&nbsp;&nbsp;</button>
          <button type="button" class="btn btn-default" (click)="modalRef.hide()">&nbsp;&nbsp;<i class="fa fa-ban"></i> &nbsp;Bỏ qua&nbsp;&nbsp;</button>
      </div>
  </ng-template>
  
  