.table-header{
    background-color: #307ECC;
    color: #FFF;
    font-size: 24px;
    line-height: 30px;
    padding-left: 12px;
    margin-bottom: 3px;
    margin-top: 5px;
    text-align: center;
}

.lable-custom{
    border-bottom: rgb(196, 196, 196) solid 0.2px;
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 15px;
}


    .modal-custom{
        width: 880px;
    }

