<div class="custom-title">THỐNG KÊ NHẬP HÀNG </div>
<div class="card card-accent-info ">
  <div class="card-header ">

    <div class="text-right text-black ">
      Từ &nbsp;
      <kendo-datepicker [(value)]="value1"></kendo-datepicker> &nbsp; đến &nbsp;
      <kendo-datepicker [(value)]="value2"></kendo-datepicker>
      &nbsp;

      <button type="button" class="btn btn-success" (click)="xemthongkenhaphang();">Xem</button>

    </div>
  </div>
  <div class="card-body">
    <ngx-loading [show]="loading"></ngx-loading>
    <kendo-grid [kendoGridBinding]="gridData">
      <kendo-grid-column title="STT">
      </kendo-grid-column>

      <kendo-grid-column field="mahang" title="Mã hàng">

      </kendo-grid-column>

      <kendo-grid-column field="tenhang" title="Tên hàng">
      </kendo-grid-column>

      <kendo-grid-column field="tondau" title="Tồn đầu">

      </kendo-grid-column>
      <kendo-grid-column field="soluong" title="Số lượng nhập">

      </kendo-grid-column>
      <kendo-grid-column field="giatri" title="Giá trị nhập">

      </kendo-grid-column>
      <kendo-grid-column field="toncuoi" title="Tồn cuối">

      </kendo-grid-column>

    </kendo-grid>
  </div>