<div class="container-fluid">
  
  

  <div class="table-header">
    NHẬP HÀNG
  </div>
  <div class="card">
      <div class="card-header ">
    
          <div class="text-right text-white ">
              <div class="btn-group mr-2" role="group" aria-label="Third group">
                  <div class="dropdown open mr-2">

                    <div class="page-header">
                      
                      <form>
                        <div class="form-group">
                          <label style="color:black;"><strong>Mã Phiếu Nhập :</strong></label>
                          <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                          <input id="phieunhaps" class="form-control" name="phieunhap"
                                 [(ngModel)]="phieunhap"
                                  [typeahead]="phieunhaps"
                                  typeaheadOptionField="maphieunhap"
                                  >
                        </div>
                      </form>

                      <form>
                        <div class="form-group">
                          <label style="color:black;"><strong>Mã Hàng Hóa</strong></label>
                          <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                          <input id="hanghoas" class="form-control" name="hanghoa"
                                 [(ngModel)]="hanghoa"
                                  [typeahead]="hanghoas"
                                  typeaheadOptionField="mahanghoa"
                                  (typeaheadOnSelect)="bamnut(hanghoa,phieunhap)">
                        </div>
                      </form>
                     <!-- <pre class="card card-block card-header mb-3">Model: {{hanghoa}}</pre>
                      <button type ="submit" (click)="bamnut()">Submit</button>-->
                      <div class="card-body">
                        <ngx-loading [show]="loading"></ngx-loading>
                        <kendo-grid
                    [data]="gridData"
                    [pageSize]="state.take"
                    [skip]="state.skip"
                    [sort]="state.sort"
                    [filter]="state.filter"
                    [sortable]="true"
                    [pageable]="true"
                    [filterable]="true"
                    (dataStateChange)="dataStateChange($event)">
                    <kendo-grid-column field="hangHoa.mahanghoa" title="Mã hàng hóa" >
                    </kendo-grid-column>
                    
                    <kendo-grid-column field="hangHoa.tenhang" title="Tên hàng hóa" >
                    </kendo-grid-column>
                    
                    <kendo-grid-column field="soluong" title="Số lượng " >
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <button class="btn btn-danger" title="Giảm số lượng" (click)="giamsoluong(dataItem);">Giảm</button>
                            <div *ngFor="let hanghoa of hanghoas">
                    
                              {{hanghoa.mahanghoa==dataItem.hangHoa.mahanghoa?dataItem.soluong:""}}
                            </div>
                          
                            <button class="btn btn-success" title="Tăng số lượng" (click)="tangsoluong(dataItem);">Tăng</button>
                        </ng-template>
                    </kendo-grid-column>
                    
                    <kendo-grid-column field="dongia" title="Đơn giá" >
                    </kendo-grid-column>
                    
                    <kendo-grid-column field="giamgia" title="Giảm giá" >
                    </kendo-grid-column>
                    
                    <kendo-grid-column field="dongia" title="Thành tiền" >
                        <ng-template kendoGridCellTemplate let-dataItem>
                            
                            <div *ngFor="let hanghoa of hanghoas">
                    
                              {{hanghoa.mahanghoa==dataItem.hangHoa.mahanghoa?dataItem.soluong*(dataItem.dongia-dataItem.giamgia):""}}
                            </div>
                          
                            
                        </ng-template>
                    </kendo-grid-column>
                    
                    <!-- <div *kendoGridDetailTemplate="let dataItem">
                      <nhaphanghoa-detail [dataItem]="dataItem" [nhaphangs]="nhaphangs"></nhaphanghoa-detail>
                    </div>-->
                    
                    </kendo-grid>
                      </div>
                       
                    </div>
                    






                  </div>
              </div>
          </div>
      </div>
  </div>
</div>



