.tbl table tr:hover button {
    opacity: 1;
    visibility: visible;
}


.table-header{
    background-color: #307ECC;
    color: #FFF;
    font-size: 24px;
    line-height: 30px;
    padding-left: 12px;
    margin-bottom: 3px;
    margin-top: 5px;
    text-align: center;
}




    .modal-custom{
        width: 880px;
    }



.qtyBox button:focus, .qtyBox button:hover {
    border-color: rgba(0,0,0,.3)!important;
    color: #666;
    background: 0 0;
}

.qtyBox button {
    opacity: 0;
    display: inline-block;
    padding: 0;
    background: 0 0;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color: #959595;
    border: 1px solid rgba(0,0,0,.15)!important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.veaM {
    vertical-align: middle!important;
    box-sizing: content-box;
}