<div>
    <tabset>
      <tab heading="Thông tin chi tiêt">
          <div class="card">
              <div class="card-header">                      
                  <h4 style="color:rgb(45, 45, 236)">Chi tiết {{dataItem.tenban}}</h4>
              </div>
              <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row lable-custom">
                          <label class="col-form-label" >ID bàn:  &nbsp;&nbsp;</label>
                         
                            <strong class="col-form-label" >{{dataItem.banID}}</strong>
                          </div>
                                                         <div class="form-group row lable-custom">
                                                           <label class="col-form-label" >Tên bàn:  &nbsp;&nbsp;</label>
                             
                                <strong class="col-form-label" >{{dataItem.tenban}}</strong>
                                 
                            
                            </div>
                            <div class="form-group row lable-custom"><label class="col-form-label" >Nhóm:  &nbsp;&nbsp;</label>
                              
                                  <strong class="col-form-label" *ngFor="let nhomban of nhombans" > {{nhomban.banID==dataItem.nhombanID?nhomban.tenban:""}}</strong>
                              
                                
          
                            
                            </div>
                            <div class="form-group row lable-custom">
                                
                              <label class="col-form-label" >Số Ghế:  &nbsp;&nbsp; </label>
                             
                                <strong class="col-form-label" >{{dataItem.soghe}}</strong>
                              </div>
                                                     </div>
                    
                        <div class="col-md-6">
                           <div class="form-group row lable-custom">
                             <label class="col-form-label">Trạng thái:  &nbsp;&nbsp;</label>
                         
                              <strong class="col-form-label" >{{dataItem.trangthai?'Còn được sử dụng':'Đã bỏ vào nhà kho'}}</strong>
          
                        
                        </div>
                        <div class="form-group row lable-custom">
                          <label class="col-form-label" for="textarea-input">Ghi chú:  &nbsp;&nbsp;</label>
                                 
                                  <strong class="col-form-label" >{{dataItem.ghichu}}</strong>
          
                        
                        </div></div>
                </div>
                     
              </div>
              <div class="card-footer text-right">
                          <button class="btn btn-primary mr-3" (click)="getBanByIndex(dataItem);" data-toggle="modal" data-target="#ModalEdit"
                          role="button">
                          <i class="fa fa-pencil"></i> Chỉnh sữa
                          </button>
                          <button class="btn btn-secondary mr-3" (click)="getBanByIndex(dataItem);" data-toggle="modal" data-target="#ModalStopAction"
                          role="button">
                          <i class="fa fa-ban"></i>  {{dataItem.trangthai?"Tạm dừng hoạt động":"Cho hoạt động lại"}}
                          </button>
                          <button class="btn btn-danger" (click)="getBanByIndex(dataItem);" data-toggle="modal" data-target="#ModalDelete"
                          role="button">
                          <i class="fa fa-trash-o"></i>  Xóa
                          </button>
          
              </div>
              </div>
      </tab>
      <tab heading="Lịch sử giao dịch">
        <div class="row">
          
          <div class="container">
              <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th style="width:15%"><strong> Mã hóa đơn</strong></th>
                      <th style="width:15%"><strong>Thời gian</strong></th>
                      <th><strong> Người tạo</strong></th>
                      <th style="width:15%"><strong>Tổng cộng</strong></th>
                    </tr>
                  </thead>
                  <tbody>
                    
                      <tr>
                          <td colspan="4"  class="text-center">  Không tìm thấy kết quả nào phù hợp</td>
                        
                        </tr>
                     
                   
                  </tbody>
                </table>
                <br>
                <br>
                <br>
          </div>
          
        </div>
      </tab>
    </tabset>
  </div>

